<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349946200961-fduc7bsj1rlsuu9d5jl5mqo8vlmm6tpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349946200961-fduc7bsj1rlsuu9d5jl5mqo8vlmm6tpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDYM9jOYRF71dUVqWosnQ4xki2_bE7Jqhs</string>
	<key>GCM_SENDER_ID</key>
	<string>349946200961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desiredewaele.mesozoica</string>
	<key>PROJECT_ID</key>
	<string>mesozoica-f7ea0</string>
	<key>STORAGE_BUCKET</key>
	<string>mesozoica-f7ea0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349946200961:ios:6c4414a3c59cf365589e80</string>
</dict>
</plist>